<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.y-muen.alfred-password-generator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04FBDEB5-1FBC-4C57-95F3-20D1CFE10FFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4D34269-47DC-4315-A68E-6F323A71F3B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13F67A25-5A23-4903-A69B-743ADB889082</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7D6A125-D739-4F81-9C9D-4FEF4EADCB45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FC63AB2-52BE-4AC2-A038-AA999285496F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47279E40-479A-4D43-A99A-D05704C60462</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26AEF2E4-57A6-49BE-9B64-F600C485C811</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5355B055-8D46-45E7-A842-930264F1F6EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47279E40-479A-4D43-A99A-D05704C60462</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5355B055-8D46-45E7-A842-930264F1F6EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5355B055-8D46-45E7-A842-930264F1F6EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABEDB0C1-1CC2-45DC-9CC0-699860436B82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3298FA00-E4A5-49D5-9CCD-E0D72B0FC63F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44F0BEE2-E768-4728-A660-8C27488326BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82157D80-38E1-4E6E-AEA1-76E128606BC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5355B055-8D46-45E7-A842-930264F1F6EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F408283-A89F-45D0-8AD4-D5E6E48BB909</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FC63AB2-52BE-4AC2-A038-AA999285496F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A53C868C-464F-4E0C-AD05-D6FF24BA756A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13F67A25-5A23-4903-A69B-743ADB889082</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE09E8C6-2266-4A5C-8342-49EDB453283A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD1320AC-969C-4CBC-83CD-4732B889E48E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7D6A125-D739-4F81-9C9D-4FEF4EADCB45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5355B055-8D46-45E7-A842-930264F1F6EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4D34269-47DC-4315-A68E-6F323A71F3B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26AEF2E4-57A6-49BE-9B64-F600C485C811</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD1320AC-969C-4CBC-83CD-4732B889E48E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82157D80-38E1-4E6E-AEA1-76E128606BC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yoiduki &lt;y-muen&gt;</string>
	<key>description</key>
	<string>Generate password</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Password Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import passgen

if len(sys.argv) == 1:
	sys.stdout.write(passgen.passgen_split("A-Za-z0-9!-*", 18, 6))
elif len(sys.argv) == 2:
	sys.stdout.write(passgen.passgen_split("A-Za-z0-9!-*", int(sys.argv[1]), 6))
elif len(sys.argv) == 3:
	sys.stdout.write(passgen.passgen_split("A-Za-z0-9!-*", int(sys.argv[1]), int(sys.argv[2])))
else:
	sys.stdout.write(passgen.passgen_split(sys.argv[3], int(sys.argv[1]), int(sys.argv[2])))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26AEF2E4-57A6-49BE-9B64-F600C485C811</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>passgen panc split</string>
				<key>subtext</key>
				<string>(length: 18) (by: 6) (pattern: A-Za-z0-9!-*): pattern "!-*" as "!@#^&amp;*"</string>
				<key>text</key>
				<string>ABCDEF-abcdef-012!@#</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04FBDEB5-1FBC-4C57-95F3-20D1CFE10FFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>C4D34269-47DC-4315-A68E-6F323A71F3B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ABEDB0C1-1CC2-45DC-9CC0-699860436B82</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import passgen

if len(sys.argv) == 1:
	sys.stdout.write(passgen.passgen_split("A-Za-z0-9", 18, 6))
elif len(sys.argv) == 2:
	sys.stdout.write(passgen.passgen_split("A-Za-z0-9", int(sys.argv[1]), 6))
elif len(sys.argv) == 3:
	sys.stdout.write(passgen.passgen_split("A-Za-z0-9", int(sys.argv[1]), int(sys.argv[2])))
else:
	sys.stdout.write(passgen.passgen_split(sys.argv[3], int(sys.argv[1]), int(sys.argv[2])))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47279E40-479A-4D43-A99A-D05704C60462</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>passgen split</string>
				<key>subtext</key>
				<string>(length: 18) (by: 6) (pattern: A-Za-z0-9): pattern "!-*" as "!@#^&amp;*"</string>
				<key>text</key>
				<string>ABCDEF-abcdef-012345</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F408283-A89F-45D0-8AD4-D5E6E48BB909</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1FC63AB2-52BE-4AC2-A038-AA999285496F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:history}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>3298FA00-E4A5-49D5-9CCD-E0D72B0FC63F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5355B055-8D46-45E7-A842-930264F1F6EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import passgen

if len(sys.argv) == 1:
	sys.stdout.write(passgen.passgen("A-Za-z0-9", 18))
elif len(sys.argv) == 2:
	sys.stdout.write(passgen.passgen("A-Za-z0-9", int(sys.argv[1])))
else:
	sys.stdout.write(passgen.passgen(sys.argv[2], int(sys.argv[1])))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82157D80-38E1-4E6E-AEA1-76E128606BC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>passgen panc</string>
				<key>subtext</key>
				<string>(length: 18) (pattern: A-Za-z0-9): pattern "!-*" as "!@#^&amp;*"</string>
				<key>text</key>
				<string>ABCDEFabcdef012!@#</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE09E8C6-2266-4A5C-8342-49EDB453283A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>44F0BEE2-E768-4728-A660-8C27488326BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>FD1320AC-969C-4CBC-83CD-4732B889E48E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>passgen</string>
				<key>subtext</key>
				<string>(length: 18) (pattern: A-Za-z0-9!-*): pattern "!-*" as "!@#^&amp;*"</string>
				<key>text</key>
				<string>ABCDEFabcdef012345</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A53C868C-464F-4E0C-AD05-D6FF24BA756A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import passgen

if len(sys.argv) == 1:
	sys.stdout.write(passgen.passgen("A-Za-z0-9!-*", 18))
elif len(sys.argv) == 2:
	sys.stdout.write(passgen.passgen("A-Za-z0-9!-*", int(sys.argv[1])))
else:
	sys.stdout.write(passgen.passgen(sys.argv[2], int(sys.argv[1])))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7D6A125-D739-4F81-9C9D-4FEF4EADCB45</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>13F67A25-5A23-4903-A69B-743ADB889082</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04FBDEB5-1FBC-4C57-95F3-20D1CFE10FFF</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>13F67A25-5A23-4903-A69B-743ADB889082</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>1FC63AB2-52BE-4AC2-A038-AA999285496F</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>26AEF2E4-57A6-49BE-9B64-F600C485C811</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>44F0BEE2-E768-4728-A660-8C27488326BF</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>47279E40-479A-4D43-A99A-D05704C60462</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>5355B055-8D46-45E7-A842-930264F1F6EB</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>82157D80-38E1-4E6E-AEA1-76E128606BC2</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>9F408283-A89F-45D0-8AD4-D5E6E48BB909</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>A53C868C-464F-4E0C-AD05-D6FF24BA756A</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>ABEDB0C1-1CC2-45DC-9CC0-699860436B82</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>AE09E8C6-2266-4A5C-8342-49EDB453283A</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>B7D6A125-D739-4F81-9C9D-4FEF4EADCB45</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>C4D34269-47DC-4315-A68E-6F323A71F3B0</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>FD1320AC-969C-4CBC-83CD-4732B889E48E</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Add password to history?</string>
			</dict>
			<key>description</key>
			<string>Whether add password to history or not. Keeping password in history is not recommended for security.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>history</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>./</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/y-mamanaranu/alfred-password-generator</string>
</dict>
</plist>
